.content{
    max-width: 600px;
    margin: auto;
    /* background-color: #fff; */
    padding: 2% 2%;
}
.custom1{
    text-align: center;
    color: rgb(255, 60, 0)
}
.form-label{
    color: white;
}
.btn{
    color: white;
}

.error{
    color: red;
}
.container{
    border-style: ridge;
    position: relative;
    margin: auto;
    width: fit-content;
}